typesafe-sdk>=0.7.1
pyautogui>=0.9.54
mss>=10.2.0
Pillow>=10.2.0
SpeechRecognition>=3.17.0
pyaudio>=0.2.14
sounddevice>=0.5.6
scipy>=1.17.1
pyperclip>=1.11.0
python-dotenv>=1.2.3
pynput>=1.8.2
pygetwindow>=0.0.9
edge-tts>=7.2.8
pygame>=2.6.1
